@font-face {
  font-family: 'NotaBene', sans-serif;
  src: url(../fonts/notabene/NotaBene.ttf);
  font-weight: normal;
}
@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url(../fonts/opensans/OpenSans-Regular.ttf);
  font-weight: normal;
}
@font-face {
  font-family: 'OpenSans-SemiBold', sans-serif;
  src: url(../fonts/opensans/OpenSans-SemiBold.ttf);
  font-weight: normal;
}